@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #010001;
}

.cursor {
  pointer-events: none;
}

.subText{
  font-weight: 400;
  opacity: 0.8;
}

.form-btn:hover{
  opacity: 0.5;
  transition: all 0.2s ease-in;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  font-size: 10px;
  font-style: italic;
  opacity: 1; /* Firefox */
}

.credits{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  white-space: nowrap ;
}

.mobileApp {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 15px;
  color: white;
  display: flex;
  align-items: center;
}

.mobileApp h1{
  font-size: 24px;
}